@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* rappel : #id et .class */

/* Général */
.hidden_element {
    display : none !important;
    pointer-events: none;
}

html {
    line-height: 0.15;
    -webkit-text-size-adjust: 100%;
}

div {
    text-align: center;
    width: 90vw;
    margin: auto; 
}

.title {
    font-weight: bolder;
}

#header {
    line-height: 10px;
    margin-bottom: 50px;
}

.section {
    border: 1px solid;
}

#consignes {
    width: 50vw;
    border: 1px solid;
}

#footer_text {
    font-size: small;
}

#param_teams {
    text-align: center;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2,40vw);
    grid-template-rows: repeat(3,auto);
    justify-items: start;
}

.param_team {
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    grid-template-areas: 
        "titre titre"
        "perso perso";
}

.team_titre {
    grid-column: 1/3 ;
}

.param_perso {
    width: 15vw;
    border: 1px solid;
    font-size: smaller;
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 8px;
}

.game_teams {
    display: flex;
    flex-flow: row wrap;
}

.game_team {
    width: 40vw;
    display: grid;
    grid-template-columns: 10vw repeat(2,15vw);
    justify-items: center;
    padding: 2vw;
}

.game_perso {
    width: 12vw;
    border: 1px solid;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.game_jauges {
    width: 12vw;
    display: flex;
    flex-direction: column;
}

.dead {
    background-color:grey;
}

.progress_bar {
    width: 90%;
    height: 1.2em;
    display: inline-block;
    vertical-align:middle;

    padding: 0.25em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    background-color: #e7e7e7;
    box-shadow: inset 0 0.063em 0.125em rgba(0,0,0,0.2), 0 0.063em 0 #dadada;
}

.niveau {
    display: block;
    height: 1.2em;  
    margin-left: 0vw; 
    border-radius: 2em;
    box-shadow: inset 0 0.063em 0 rgba(255, 255, 255, 0.3), inset 0 -0.063em 0.188em rgba(0, 0, 0, 0.4), 0 0.063em 0.063em rgba(0, 0, 0, 0.4);
}

.full {
    width: 100%;
}
.ninety {
    width: 90%;
}
.eighty {
    width: 80%;
}
.seventy {
    width: 70%;
}
.sixty {
    width: 60%;
}
.fifty {
    width: 50%;
}
.forty {
    width: 40%;
}
.thirty {
    width: 30%;
}
.twenty{
    width: 20%;
}
.ten {
    width: 10%;
}
.empty {
    width: 0%;
}

.fun {
    background-color: rgb(255, 121, 32);
}
.health {
    background-color: rgb(77, 245, 35);
}
.perf {
    background-color: rgb(243, 21, 51);
}
.mental {
    background-color: rgb(35, 161, 245);
}
